{% from "_render_elements.html" import render_messages %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/eo.ico') }}">
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="hw/static/css/style.css">
  </head>
  <body>
		{{ render_messages(messages) }}
    {% block content %}
    {% endblock %}
    <footer class="footer">
        <p>&copy; Company 2019</p>
    </footer>
  </body>
</html>