{% extends "base.html" %}
{% block title %}
Entrar
{% endblock %}
{% block content %}
<h1>Log In</h1>
<form method="post" action="{{ url_for('login') }}">
	<p><input name="username" type="text"></p>
	<p><input name="password" type="password"></p>
	<input type="submit" value="Entrar">
</form>

<div class="jumbo">
		<h2>No tiene una cuenta? registrese aqui</h2>
		<p class="lead"></p>
		<p><a class="btn btn-lg btn-success" href="signup" role="button">Sign up today</a>
		</p>
	</div>
{% endblock %}